td.good {
    color: darkgreen;
}

td.bad {
    color: darkred;
}

.custom-striped tbody tr {
    /* Example color */
    background: white;
}

.custom-striped tbody tr:nth-child(4n+1), .custom-striped tbody tr:nth-child(4n+2) {
    /* Example color */
    background: #e0e0e0e0;
}